@model InventoryManager.ViewModels.EditInventoryItemViewModel

<h1>Edit Inventory Item</h1>

<form method="post" asp-controller="Inventory" asp-action="Edit">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" value="@Model.Item.Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Upc"></label>
        <input class="form-control" asp-for="Upc" value="@Model.Item.Upc"/>
        <span asp-validation-for="Upc"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cost"></label>
        <input class="form-control" asp-for="Cost" value="@Model.Item.Cost"/>
        <span asp-validation-for="Cost"></span>
    </div>

    <div class="form-group">
        <label asp-for="Unit"></label>
        <input class="form-control" asp-for="Unit" value="@Model.Item.Unit"/>
        <span asp-validation-for="Unit"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryID"></label>
        <select asp-for="CategoryID" asp-items="Model.Categories"></select>
    </div>

    <div class="form-group">
        <label asp-for="VendorID"></label>
        <select asp-for="VendorID" asp-items="Model.Vendors"></select>
    </div>

    <input type="submit" value="Save Changes" />
</form>
